body{
text-align: center;
  background: fixed;
  background-color: black;
  opacity: 0.8;
  margin: 0;
  width: 100%;
  height: 100%;
  background-position: center center ;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slidebg 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url('img/img1.png');
}
@keyframes slidebg {
  0%{
    background-image: url('img/img1.png');
  }

  50%{
    background-image: url('img/img3.png');
  }

  100%{
    background-image: url('img/img2.png');
  }

}

.container{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: auto;
}
.card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  margin: 15px auto;
  
}
nav{
  background-color: rgba(255,255,255,0.5) !important;
}
.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
form{
  text-align: center;
  margin-top: 20px;
}
.sub{
  margin: 10px;
  border-radius: 10px;
  background-color: cyan;
}
h1{
  margin-top: 10px;
  font-family: 'Luxurious Roman', sans-serif;
}
input{
  margin: 5px;
  border-radius: 10px;
}
@media only screen and (max-width: 540px) {
  body {
    background-color: black;
    opacity: 0.8;
    background: fixed;
    background-repeat: no-repeat;
      background-image: url('img/img4.png');
      margin: 0;
      width: 100%;
      height: 100%;
      background-position: center ;
      background-size: cover;
      backface-visibility: hidden;
      animation: none;
      animation-timing-function: none;

  }
 
}
